a:hover {
  color: #000099;
}

.accountbox {
  background: #000099;
}

.adminmessage h1 {
  color: #000099;
}

.adminmessage h1 a {
  color: #000099;
}

.blogfooter {
  color: #000099;
}

.blogfooter a {
  color: #000099;
}

.blogitemfooter a {
  color: #000099;
}

.blogitemheader a {
  color: #000099;
}

.blogiteminfo .readmore a {
  color: #000099;
}

.forumline .catRupt a:hover {
  color: #000099;
}

.forumline .forumrow .nav:hover {
  color: #000099;
}

.messagebox {
  background-color: #000099;
}

.nav3bookmarks a:hover {
  color: #000099;
}

.newsfooter {
  color: #000099;
}

.newsfooter a {
  color: #000099;
}

.newsitemfooter a {
  color: #000099;
}

.newsitemheader a {
  color: #000099;
}

.newsiteminfo .readmore a {
  color: #000099;
}

.topheader {
  background-color: #000067;
}

.topnav {
  background-color: #000099;
}

.topnav ul li.selected div a {
  color: #000099;
}

.topnav2 a:hover {
  color: #000099;
}
