  <link rel="stylesheet" href="{{ "/fontello/css/fontello.css" | prepend: site.baseurl }}">

<!-- FROM FUMBBL.COM -->
  <link rel="stylesheet" href="{{ "/fumbbl_resources/style/reset.css" | prepend: site.baseurl }}" type="text/css">
  <link rel="stylesheet" href="{{ "/fumbbl_resources/style/Aristo.css" | prepend: site.baseurl }}" type="  text/css">
  <link rel="stylesheet" href="{{ "/fumbbl_resources/style/fumbbl.css" | prepend: site.baseurl }}" type=" text/css">
  <link rel="stylesheet" href="{{ "/fumbbl_resources/style/gln.css" | prepend: site.baseurl }}" type="text/css">
  <link rel="stylesheet" href="{{ "/fumbbl_resources/style/userguide.css" | prepend: site.baseurl }}" type="text/css">
  <style type="text/css">@import url("{{ "/fumbbl_resources/themes/pastel/style/style.css" | prepend: site.baseurl }}"); </style>
  <!-- END FROM FUMBBL.COM -->

  <link rel="stylesheet" href="{{ "/css/pygments-css/monokai.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/urlfix.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/colorfix.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/reset.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/datatables_reset.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/markdown_extra.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/fumbblplus.css" | prepend: site.baseurl }}">
